
<br>
<div class="row">

<div class=" col-sm-6 col-md-6 pull-left" >
  <ul class="nav nav-pills nav-stacked" role="tablist">
    <% @category.each_with_index do |item, index| %>
    <% if index == 0 %>
      <li class="active " ><a href="#item_<%= index %>" role="tab" data-toggle="tab"><%= item.name %><span class="badge pull-right">$<%= number_with_precision(item.price, precision: 2) %></span></a></li>
    <% else %>
      <li><a href="#item_<%= index %>" role="tab" data-toggle="tab"><%= item.name %><span class="badge pull-right">$<%= number_with_precision(item.price, precision: 2) %></span></a></li>
    <% end %> <!-- this ends the if statement -->
  <% end %> <!-- this ends the loop -->
 </ul>
</div>

<div class="tab-content">
<% @category.each_with_index do |item, index| %>
  <% cart = Cart.where(:user_id => current_user.id, :paid => false) %>
  <% selected_item = SelectedItem.find_by(:user_id => current_user.id, :item_id => item.id.to_s, :cart => cart ) %>

  <% if index == 0 %>
     <div class="tab-pane active" id="item_<%= index %>" >
      <div class="col-sm-6 col-md-6 pull-left merchandiseDisplay">

      <div class="row">
        <% if item.owner == current_user %>
          <div class="pull-right">
          <%= link_to "<i class=\"fa fa-pencil-square-o\"></i>".html_safe,
           edit_item_path(item),
           :class => "btn btn-xs btn-default" %>

          <%= link_to "<i class=\"fa fa-times\"></i>".html_safe,
            item,
            :class => "btn btn-xs btn-default",
            method: :delete,
            data: { confirm: 'Are you sure?' } %>
          </div>
        <% end %>
      </div>

        <img class="img-circle img-responsive center-block" src="<%= item.image %>" width="70" >
        <br>

        <p class="text-center lead"><%= link_to "#{item.name}", item_url(item) %> </p>
        <% if item.required == true %>
          <% if @item.expiration_date.present?  %>
            <p>Required for Members - Purchase by
              <%= item.expiration_date.strftime("%A %B %d, %Y") %>
            </p>
            <hr class="divider item_divider">
          <% end %>
        <% end  %>

        <div class="row">

        <% if item.color_options.count > 1 %>
          <% if selected_item.present? %>
            <div class="color_selected_<%= item.id %>">
             <div class="col-md-6">
              <%= select_tag("color_option", options_from_collection_for_select(ColorOption.where(:item_id => item.id.to_s), :id, :color, selected_item.color_option_id), {class: "form-control", prompt: "Color"}) %>
              <br>
            </div>
            </div>
          <% else %>
          <div class="color_unselected_<%= item.id %>">
           <div class="col-md-6">
            <%= select_tag("color_option", options_from_collection_for_select(ColorOption.where(:item_id => item.id.to_s), :id, :color), {class: "form-control", prompt: "Color"}) %>
            <br>
          </div>
          </div>
          <% end %>
        <% end %>

        <% if item.size_options.count > 1 %>
          <% if selected_item.present?  %>
            <div class="size_selected_<%= item.id %>">
             <div class="col-md-6">
            <%= select_tag("size_option", options_from_collection_for_select(SizeOption.where(:item_id => item.id.to_s), :id, :size, selected_item.size_option_id), {prompt: "Size", class: "form-control"}) %>
            <br>
            </div>
            </div>
          <% else %>
            <div class="size_unselected_<%= item.id %>">
             <div class="col-md-6">
            <%= select_tag("size_option", options_from_collection_for_select(SizeOption.where(:item_id => item.id.to_s), :id, :size), {prompt: "Size", class: "form-control"}) %>
            <br>
            </div>
            </div>
          <% end %>
        <% end %>
        </div>
        <div class="btn col-sm-12">
          <% if current_user.items_in_cart.include?(item) %>
            <%= render "items/remove_from_cart_button", :item => item, :cart => @cart %>
          <% else %>
            <%= render "items/add_to_cart_button", :item => item, :cart => @cart %>
          <% end %>
        </div>

        <div class="clearfix"></div>

        <% if item.carts.where(:paid => true).count > 0 %>
          <p class="text-center"> <%= pluralize(item.carts.where(:paid => true).count, 'person') %> already purchased it! </p>
        <% end %>
      </div>
    </div>

  <!-- if the item is not the first -->
  <% else %>
    <div class="tab-pane" id="item_<%= index %>" >
      <div class="col-sm-6 col-md-6 pull-right  merchandiseDisplay">

      <div class="row">
        <% if item.owner == current_user %>
          <div class="pull-right">
          <%= link_to "<i class=\"fa fa-pencil-square-o\"></i>".html_safe,
           edit_item_path(item),
           :class => "btn btn-xs btn-default" %>

          <%= link_to "<i class=\"fa fa-times\"></i>".html_safe,
            item,
            :class => "btn btn-xs btn-default",
            method: :delete,
            data: { confirm: 'Are you sure?' } %>
          </div>
        <% end %>
      </div>

        <img class="img-circle img-responsive center-block" src="<%= item.image %>" width="150" >
        <br>

       <p class="text-center lead"><%= item.name %> </p>
       <% if item.required == true %>
          <p class="text-center">This item is required for all members of <%= item.club.name %></p>
          <p class="text-center">Purchase it now!</p>
        <% end  %>


      <div class="row">

      <% if item.color_options.count > 1 %>
        <% if selected_item.present? %>
          <div class="color_selected_<%= item.id %>">
           <div class="col-md-6">
            <%= select_tag("color_option", options_from_collection_for_select(ColorOption.where(:item_id => item.id.to_s), :id, :color, selected_item.color_option_id), {class: "form-control", prompt: "Color"}) %>
            <br>
          </div>
          </div>
        <% else %>
        <div class="color_unselected_<%= item.id %>">
         <div class="col-md-6">
          <%= select_tag("color_option", options_from_collection_for_select(ColorOption.where(:item_id => item.id.to_s), :id, :color), {class: "form-control", prompt: "Color"}) %>
          <br>
        </div>
        </div>
        <% end %>
      <% end %>

      <% if item.size_options.count > 1 %>
        <% if selected_item.present?  %>
          <div class="size_selected_<%= item.id %>">
           <div class="col-md-6">
          <%= select_tag("size_option", options_from_collection_for_select(SizeOption.where(:item_id => item.id.to_s), :id, :size, selected_item.size_option_id), {prompt: "Size", class: "form-control"}) %>
          <br>
          </div>
          </div>
        <% else %>
          <div class="size_unselected_<%= item.id %>">
           <div class="col-md-6">
          <%= select_tag("size_option", options_from_collection_for_select(SizeOption.where(:item_id => item.id.to_s), :id, :size), {prompt: "Size", class: "form-control"}) %>
          <br>
          </div>
          </div>
        <% end %>
      <% end %>

      </div>


        <div class="btn col-sm-12">
          <% if current_user.items_in_cart.include?(item) %>
            <%= render "items/remove_from_cart_button", :item => item, :cart => @cart %>
          <% else %>
            <%= render "items/add_to_cart_button", :item => item, :cart => @cart %>
          <% end %>
        </div>
        <div class="clearfix"></div>
        <br>
        <% if item.carts.where(:paid => true).count > 0 %>
          <p class="text-center"> <%= pluralize(item.carts.where(:paid => true).count, 'person') %> already purchased it! </p>
        <% end %>
      </div>
    </div>

  <% end %> <!-- closes the if statement -->
  <script type="text/javascript">
    $("#add_to_cart_<%= item.id %>").click(function(event){
      var color_options = document.getElementById("color_option");
      var color_option = color_options.options[color_options.selectedIndex].value;

      var size_options = document.getElementById("size_option");
      var size_option = size_options.options[size_options.selectedIndex].value;

      if ( color_option == '') {
        alert("Please select a color");
        event.preventDefault();
        event.stopPropagation();

      } else {
        console.log(color_option);
        $("#add_to_cart_<%= item.id %>").prop('href', $("#add_to_cart_<%= item.id %>").prop('href') + "&color_id=" + color_option);
      }

      if ( size_option == '') {
        alert("Please select a size");
        event.preventDefault();
        event.stopPropagation();

      } else {
        console.log(size_option);
        $("#add_to_cart_<%= item.id %>").prop('href', $("#add_to_cart_<%= item.id %>").prop('href') + "&size_id=" + size_option);
      }

    });
  </script>
<% end %> <!-- closes the loop -->


</div> <!-- closes tab content -->
</div> <!-- closes row -->



