<br>
<div class="row">
  <div class="col-md-12">

      <img class="img-responsive img-circle center-block" width="200px" src="<%= @club.image %>">

      <% if current_user == @club.owner %>
      <div class="pull-right">
        <%= link_to 'Edit', edit_club_path(@club) %> |
        <%= link_to 'Destroy', club_url(@club), method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
      <% end %>

    <div class="text-center">
        <h2><%= @club.name %></h2>
        <h4><%= @club.description %></h4>
        <h4><%= @club.website %></h4>

        <%= render "memberships/join_button", :club => @club %>
    </div>
  </div>
</div>

<br>
<%= render "clubs/items_club_display" %>

<!-- <p>
  <strong>Owner:</strong>
  <%#= @club.owner_id %>
</p> -->


