<br>
<div class="row">
  <div class="col-md-12">

      <img class="img-responsive img-circle center-block" width="200px" src="<%= @club.image %>">

    <div class="text-center">
        <h2><%= @club.name %></h2>
        <h4><%= @club.description %></h4>
        <h4><%= @club.website %></h4>

        <%= render "memberships/join_button", :club => @club %>
    </div>
  </div>
</div>




<p>
  <strong>Owner:</strong>
  <%= @club.owner_id %>
</p>

<%= link_to 'Edit', edit_club_path(@club) %> |
<%= link_to 'Back', clubs_path %>
