<br>
<div class="row">
  <div class="col-md-12">

      <img class="img-responsive img-circle center-block" width="200px" src="<%= @club.image %>">

      <% if current_user == @club.owner %>
      <div class="pull-right">
        <%= link_to 'Edit', edit_club_path(@club) %> |
        <%= link_to 'Destroy', club_url(@club), method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
      <% end %>

  </div>
</div>

<div class="row">
  <div class="col-md-3 pull-left">
    <div class="vertical_line"></div>
  </div>
  <div class="col-md-6 pull-left">
    <div class="text-center">
        <h2><%= @club.name %></h2>
    </div>
  </div>
  <div class="col-md-3 pull-left">
     <div class="vertical_line"></div>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <div class="text-center">
        <h5><%= @club.description %></h5>
<!--         <h5><%#= @club.website %></h5>
 -->
        <% if @club.members.include?(current_user)  %>
            <%= render 'memberships/unjoin_button', :club => @club %>
        <% else %>
            <%= render 'memberships/join_button', :club => @club %>
        <% end %>
    </div>

    <div class="text-center">
    <a href="/club_emails/<%= @club.id %>">Import Club Email List</a>
  </div>
</div>
</div>

<br>
<%= render "clubs/items_club_display" %>


<br>
<br>
<br>


