<h2>Edit Your Information</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="row">
  <div class="col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6">

  <div class = "form-group">
  <%= f.label :first_name %>
  <%= f.text_field :first_name, :class => "form-control" %>
  </div>

  <div class = "form-group">
  <%= f.label :last_name %>
  <%= f.text_field :last_name, :class => "form-control" %>
  </div>

  <div class = "form-group">
  <%= f.label :grad_year %>
  <%= f.number_field :grad_year, :class => "form-control" %>
  </div>

  <div class = "form-group">
    <%= f.label :university_id %>
    <%= f.select :university_id, options_from_collection_for_select(University.all, "id", "name"), {prompt: "Select a College"}, {class: "form-control"} %>
  </div>

  <div class = "form-group">
  <%= f.label :phone_number, :class => "control-label" %>
  <%= f.text_field :phone_number, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :image, :class => "control-label" %>
    <%= f.file_field :image, :class => "form-control" %>
  </div>

  <div class = "form-group">
    <%= f.label :email, :class => "control-label" %>
    <%= f.email_field :email, autofocus: true, :class => "form-control" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class = "form-group">
    <%= f.label :password, :class => "control-label" %> <i>(leave blank if you don't want to change it)</i>
    <%= f.password_field :password, autocomplete: "off", :class => "form-control" %>
  </div>

  <div class = "form-group">
    <%= f.label :password_confirmation, :class => "control-label" %>
    <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control" %>
  </div>

 <!--  <div class = "form-group">
    <%#= f.label :current_password, :class => "control-label" %> <i>(we need your current password to confirm your changes)</i>
    <%#= f.password_field :current_password, autocomplete: "off", :class => "form-control" %>
  </div> -->

  <div><%= f.submit "Update", :class => "btn btn-default" %></div>
<% end %>
</div>
</div>


<div class="row">
<div class="col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6">
<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :class => "btn btn-default"  %></p>
</div>
</div>

<%= link_to "Back", :back %>
