<%= form_for(@color_option) do |f| %>
  <% if @color_option.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@color_option.errors.count, "error") %> prohibited this color_option from being saved:</h2>

      <ul>
      <% @color_option.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :color %><br>
    <%= f.text_field :color %>
  </div>
  <div class="field">
    <%= f.label :item_id %><br>
    <%= f.text_field :item_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
