<br>
<br>
<div class="row">
  <div class="col-md-offset-4 col-md-4 col-sm-offset-4 col-sm-4">
    <div class="text-center">
      <img class="img-responsive img-circle center-block" width="150px" height="150px" src="<%= current_user.university.image %>">
    </div>
  </div>

  <div class="col-md-4">
    <div class="pull-right">
      <% if current_user == @university.owner %>
        <%= link_to "<i class=\"fa fa-pencil-square-o\"></i>".html_safe, edit_university_path(@university), :class => "btn btn-xs btn-default edit_button" %>
      <% end %>
    </div>
  </div>
</div>

<div class="row home_text">
  <div class="col-md-3 col-sm-3 col-xs-3 pull-left">
    <div class="vertical_line"></div>
  </div>
  <div class="col-md-6 col-sm-6 col-xs-6 pull-left">
    <div class="text-center">
      <h1><%= current_user.university.name %></h1>
    </div>
  </div>
  <div class="col-md-3 col-sm-3 col-xs-3 pull-left">
     <div class="vertical_line"></div>
  </div>
</div>


<div class="row home_text">
  <div class="col-md-offset-4 col-md-4">
    <div class="text-center">
      <h4><i class="fa fa-map-marker"></i>&nbsp;&nbsp;<%= current_user.university.location %></h4>
    </div>
  </div>
</div>


<%= render "items/items_display_row" %>

<%= render "clubs/clubs_display_row" %>


