

<br>

<div class="row">
  <div class="text-center">
    <h2><%= current_user.university.name %></h2>
    <h4><i class="fa fa-map-marker"></i>&nbsp;&nbsp;<%= current_user.university.location %></h4>
  </div>
</div>


<div class="row">
  <h3 class="pull-left"><%= pluralize(@items.count, 'Item') %></h3>

   <%= link_to "New Item",
              new_item_path,
              :class => "btn btn-sm btn-primary pull-right"
   %>
   <%= link_to "All Items",
              items_path,
              :class => "btn btn-sm btn-primary pull-right"
   %>
</div>


<div class="row">
  <% @items.each do |item| %>
    <% @selected_item = SelectedItem.find_by(:user_id => current_user.id, :item_id => item.id ) %>
    <%= render "items/item_display", item: item %>
  <% end  %>
</div>


 <div class="row">
   <h3 class="pull-left"><%= pluralize(@clubs.count, 'Club') %></h3>

    <%= link_to "New Club",
               new_club_path,
               :class => "btn btn-sm btn-primary pull-right"
    %>
    <%= link_to "All Clubs",
               clubs_path,
               :class => "btn btn-sm btn-primary pull-right"
    %>
 </div>

<div class="row">
  <% @clubs.each do |club| %>
    <%= render "clubs/club_display", club: club %>
  <% end %>
</div>

<h3><%= pluralize(@users.count, 'User') %></h3>
<div class="row">
  <% @users.each do |user| %>
  <div class="col-sm-4 col-md-3">
    <div class="thumbnail">
      <img class="img-responsive" src="<%= user.image %>">
      <div class="caption">
      <h3><%= "#{user.first_name} #{user.last_name}" %></h3>

      </div>
    </div>
  </div>
  <% end  %>
</div>
