<div class="color_unselected">
  <div class="col-md-offset-4 col-md-4 ">
    <%= select_tag("color_option", options_from_collection_for_select(ColorOption.where(:item_id => @item.id), :id, :color, 0), {class: "form-control", prompt: "Select a color", id: "color_option_#{item.id}"}) %>
    <br>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
  $("#add_to_cart_<%= item.id %>").click(function(event){
    var color_options = document.getElementById("color_option_<%= item.id %>");
    var color_option = color_options.options[color_options.selectedIndex].value;

    var size_options = document.getElementById("size_option_<%= item.id %>");
    var size_option = size_options.options[size_options.selectedIndex].value;

    if ( color_option === '') {
      alert("Please select a color");
      event.preventDefault();
      event.stopPropagation();
    } else {
      console.log(color_option);
      $("#add_to_cart_<%= item.id %>").prop('href', $("#add_to_cart_<%= item.id %>").prop('href') + "&color_id=" + color_option);
    }

    if ( size_option === '') {
      alert("Please select a size");
      event.preventDefault();
      event.stopPropagation();
    } else {
      console.log(size_option);
      $("#add_to_cart_<%= item.id %>").prop('href', $("#add_to_cart_<%= item.id %>").prop('href') + "&size_id=" + size_option);
    }
    });
  });
</script>
