<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6">

  <div class="form-group">
    <%= f.label :name, :class => "control-label" %>
    <%= f.text_field :name, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :price, :class => "control-label" %>
    <%= f.text_field :price, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description, :class => "control-label" %>
    <%= f.text_area :description, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :required, :class => "control-label" %> <p>Check the box below if the item is required for all members.  If an item is required, members will receive weekly reminder emails until they pay.</p>

    <%= f.check_box :required, :class => "form-control pull-left" %>
  </div>

  <div class="form-group">
    <%= f.label :expiration_date, :class => "control-label" %>
    <%= f.text_field :expiration_date, :class => "form-control" %>
  </div>

  <div class = "form-group">
   <%= f.label :club_id, :class => "control-label"%>
    <%= f.select(:club_id, options_from_collection_for_select(current_user.clubs.all, "id",
    "name", @item.club_id), {prompt: "Select a Club"}, {class: "form-control"}) %>
  </div>

  <div class="form-group">
    <%= f.label :image, :class => "control-label" %>
    <%= f.file_field :image, :class => "form-control" %>
  </div>

  <div class = "form-group">
   <%= f.label :category, :class => "control-label" %>
    <%= f.select(:category, options_for_select([['Merchandise', 'Merchandise'],
      ['Dues', 'Dues'],
      ['Donations', 'Dontations'],
      ['Deals', 'Deals']  ], @item.category),
      {prompt: "Select a Category"}, {class: "form-control category_select"}) %>
  </div>

  <div class="space_for_selection_buttons">

  </div>

  <% if current_page?(new_item_url) %>
  <% else %>
     <%= render "items/edit_size_and_color" %>
  <% end %>

  <div class="actions">
    <%= f.submit :class => "btn btn-default form-group " %>
  </div>
<% end %>

</div>
</div>

<script type="text/javascript">

  $("#new_item").on("keypress", function (e) {
      if (e.keyCode == 13) {
          return false;
      }
  });

  $(".edit_item").on("keypress", function (e) {
      if (e.keyCode == 13) {
          return false;
      }
  });

 //if the merchanise option is selected
  $(".category_select").change(function() {
    var value = $(this).val();
    if (value === "Merchandise") {
      $('.space_for_selection_buttons').append("<%= escape_javascript(render "items/merchandise_options" )%>");
    }
    else {
      $('.merchandise_options').remove();
    }
  });


</script>
