  <!-- this is the display for merchandise  -->
  <br>

<div class="row">
  <div class="col-md-10">
    <h1 class="pull-left "><%= @item.name.capitalize %></h1>
  </div>
  <div class="col-md-2">
  <div class="pull-right">
    <% if current_user == @item.owner %>
        <%= link_to "<i class=\"fa fa-pencil-square-o\"></i>".html_safe, edit_item_path(@item), :class => "btn btn-xs btn-default edit_button" %>
        <%= link_to "<i class=\"fa fa-times\"></i>".html_safe, item_url(@item), method: :delete, :class => "btn btn-xs btn-default edit_button", data: { confirm: 'Are you sure?'} %>
    <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-sm-6">
      <img class="img-responsive item_image_show" src="<%= @item.image %>">
      <br>
        <p><%= link_to "#{@item.university.name}", university_url(@item.university) %> / <%= link_to "#{@item.club.name}", university_url(@item.club) %> / <%= @item.name %></p>
  </div>

  <div class="col-md-6 col-sm-6">
    <div class="text-center">
      <p class="price_show">$<%= number_with_precision(@item.price, precision: 2) %></p>

      <hr class="divider item_divider">

      <p><%= @item.description %></p>
      <p><%= @item.carts.where(:paid => true).count %> Sold</p>

      <hr class="divider item_divider">

      <% if @item.required == true %>
        <% if current_user.paid_items.include?(@item) %>
          <p> Required For Members</p>
        <% else %>
          <% if @item.expiration_date.present?  %>
            <p>Required for Members - Purchase by
              <%= @item.expiration_date.strftime("%A %B %d, %Y") %>
            </p>
            <hr class="divider item_divider">
          <% end %>


        <% end %>
          <%= link_to "View Report", "/view_report/#{@item.id}" %>
          <br>

      <% else %>
         <p>Purchase by <%= @item.expiration_date.strftime("%A %B %d, %Y")  %></p>
      <% end %>

      <% if @item.color_options.count > 1 %>
        <% if @selected_item.present?  %>
          <div class="color_selected_show_<%= @item.id %>">
            <div class="col-md-offset-4 col-md-4">
              <%= select_tag("color_option", options_from_collection_for_select(ColorOption.where(:item_id => @item.id.to_s), :id, :color, @selected_item.color_option_id), {class: "form-control", prompt: "Select a color", id: "color_option_#{@item.id}"}) %>
              <br>
            </div>
          </div>
        <% else %>
        <div class="color_unselected_show_<%= @item.id %>">
        <div class="col-md-offset-4 col-md-4">
          <%= select_tag("color_option", options_from_collection_for_select(ColorOption.where(:item_id => @item.id.to_s), :id, :color), {class: "form-control", prompt: "Select a color", id: "color_option_#{@item.id}"}) %>
          <br>
        </div>
        </div>
        <% end %>
      <% end %>

      <% if @item.size_options.count > 1 %>
        <% if @selected_item.present?  %>
          <div class="size_selected_show_<%= @item.id %>">
          <div class="col-md-offset-4 col-md-4">
          <%= select_tag("size_option", options_from_collection_for_select(SizeOption.where(:item_id => @item.id.to_s), :id, :size, @selected_item.size_option_id), {prompt: "Select a Size", class: "form-control", id: "size_option_#{@item.id}"}) %>
          <br>
          </div>
          </div>
        <% else %>
          <div class="size_unselected_show_<%= @item.id %>">
          <div class="col-md-offset-4 col-md-4">
          <%= select_tag("size_option", options_from_collection_for_select(SizeOption.where(:item_id => @item.id.to_s), :id, :size), {prompt: "Select a Size", class: "form-control", id: "size_option_#{@item.id}"}) %>
          <br>
          </div>
          </div>
        <% end %>
      <% end %>


      <div class="col-md-offset-4 col-md-4">
        <% if current_user.items_in_cart.include?(@item) %>
          <%= render "items/remove_from_cart_button", :item => @item, :cart => @cart %>
          <br>
        <% else %>
          <%= render "items/add_to_cart_button", :item => @item, :cart => @cart %>
          <br>
        <% end %>
      </div>
      <div class="col-md-offset-4 col-md-4">
      <% if current_user.items_in_cart.include?(@item) %>
        <br>
        <%= link_to "View My Cart", my_cart_url %>
      <% end %>
      </div>
    </div>
  </div>
</div>
<br>
<br>


<script type="text/javascript">
  $("#add_to_cart_<%= @item.id %>").click(function(event){
    var color_options = document.getElementById("color_option_<%= @item.id %>");
    var color_option = color_options.options[color_options.selectedIndex].value;
    var size_options = document.getElementById("size_option_<%= @item.id %>");
    var size_option = size_options.options[size_options.selectedIndex].value;
    if ( color_option == '') {
      alert("Please select a color");
      event.preventDefault();
      event.stopPropagation();
    } else {
      console.log(color_option);
      $("#add_to_cart_<%= @item.id %>").prop('href', $("#add_to_cart_<%= @item.id %>").prop('href') + "&color_id=" + color_option);
    }
    if ( size_option == '') {
      alert("Please select a size");
      event.preventDefault();
      event.stopPropagation();
    } else {
      console.log(size_option);
      $("#add_to_cart_<%= @item.id %>").prop('href', $("#add_to_cart_<%= @item.id %>").prop('href') + "&size_id=" + size_option);
    }
  });
</script>


