
<!-- this is the display for merchandise  -->
<div class="row">
  <div class="com-md-12">
    <h1><%= @item.name %></h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
      <img class="img-responsive" src="<%= @item.image %>">
  </div>

  <div class="col-md-6">
    <div class="text-center">
      <h4>$<%= @item.price %></h4>

      <h4><%= @item.description %></h4>
      <h4><%= @item.carts.where(:paid => true).count %> Sold</h4>

      <% if @item.required == true %>
        <h4> Required For Members</h4>
        <% if current_user.paid_items.include?(@item) %>
        <% else %>
          <h4>Purchase by <%= @item.expiration_date.strftime("%A %B %d, %Y")  %></h4>
        <% end %>
          <%= link_to "View Report", "/view_report/#{@item.id}" %>
          <br>
      <% else %>
         <h4>Purchase by <%= @item.expiration_date.strftime("%A %B %d, %Y")  %></h4>
      <% end %>

      <% if current_user.items_in_cart.include?(@item) %>
        <%= render "items/remove_from_cart_button", :item => @item, :cart => @cart %>
      <% else %>

        <%= render "items/add_to_cart_button", :item => @item, :cart => @cart %>
      <% end %>

      <% if current_user.items_in_cart.include?(@item) %>
        <%= link_to "View My Cart", my_cart_url %>
      <% end %>
    </div>
  </div>
</div>
<br>



  <%#= "#{@item.owner.first_name} #{@item.owner.last_name}" %>
<br>

<div class="row">
  <div class="col-md-12">
    <p class="lead"><%= link_to "#{@item.university.name}", university_url(@item.university) %> <i class="fa fa-chevron-right"></i> <%= link_to "#{@item.club.name}", university_url(@item.club) %> <i class="fa fa-chevron-right"></i> <%= @item.name %></p>
  </div>
</div>

<% if current_user == @item.owner %>
  <div class="row">
    <%= link_to 'Edit', edit_item_path(@item) %> |
    <%= link_to 'Destroy', item_url(@item), method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>
