
<div class="row">
  <h1><%= @item.name %> Report</h1>
</div>

<div class="row">
</div>
<h3>Members of <%= @item.club.name %> on Moolah</h3>
<p><%= pluralize(@purchases, 'Member') %> Paid,  <%= pluralize(@outstanding_payments, 'Payment')  %> Outstanding</p>

<% @item.club.members.each do |member| %>

  <div class="row">
    <div class="col-md-4">
      <%= image_tag "#{member.try(:image)}", :class => "pull-left img-responsive img-circle", :width => "75px", :height => "75px" %>
      <h4 class="pull-left"><%= "#{member.first_name} #{member.last_name}" " - " "#{member.email}"%> </h4>
    </div>
    <% if member.paid_items.include?(@item) %>
      <i class="fa fa-check-circle-o fa-2x col-md-2" style="display:inline"></i>
    <% else %>
      <i class="fa fa-times-circle-o fa-2x col-md-2" style="display:inline"></i>
    <% end %>
  </div>

<% end %>

<br>
<h3>Email List</h3>
<% @item.club.emails.each do |email| unless @item.club.members.pluck(:email).include?(email.email)%>

  <div class="row">
    <div class="col-md-4">
      <%= image_tag "#{email.try(:image)}", :class => "pull-left img-responsive img-circle", :width => "75px", :height => "75px" %>
      <h4 class="pull-left"><%= "#{email.first_name} #{email.last_name}" " - " "#{email.email}"%> </h4>
    </div>

      <i class="fa fa-times-circle-o fa-2x col-md-2" style="display:inline"></i>

  </div>
<% end %>
<% end %>


