<!-- THE COLOR OF THE NAVBAR -->
<style type="text/css">
  .navbar-fixed-top {
    height: 60px;
  }

  .navbar-default .navbar-nav>.active>a:active, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>.active>a, .navbar-brand   {
    height: 59px;
  }

</style>

<% if current_page?(new_user_session_url) %>
  <style type="text/css">
    .navbar-default {
      background-color: transparent;
      border-color: #ffffff;
/*      border-color: transparent;
*/    }
    .navbar-header {
      background-color: transparent;
    }

    .navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>.active>a:active, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-brand, .navbar-default .navbar-brand:active, .navbar-default .navbar-brand:hover  {
      color: #ffffff;
    }

    .navbar-default .navbar-nav>li>a:active {
      border-bottom: 5px solid #ffffff;
    }

    .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover {
      color: #ffffff;
      background-color: #000000;
     /* border-bottom: 5px solid #ffffff;*/
    }

    /*transparent on hover */
    .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-brand:hover  {
      background: rgba(211, 211, 211, 0.5);
    }

    .navbar_color {
      background-color: #000000;
      border-color: #ffffff;
    }
  </style>

  <script type="text/javascript">
  $(document).ready(function() {
    $('.nav.navbar-nav > li').on('click', function (e) {
        $('.nav.navbar-nav > li').removeClass('active');
        $(this).addClass('active');
    });
    });
  </script>


<% else %>
  <style type="text/css">
    .navbar-default {
      background-color: #F2F2F2;
      border-color: #ffffff
    }

    .navbar-header {
      background-color: #F2F2F2;
    }

    /*underline when selected*/
    .navbar-default .navbar-nav>.active>a, a.navbar-brand.moolah.active {
      background-color: #f2f2f2;
      color:#777;
      border-bottom: 5px solid #777;
    }

    .navbar-default .navbar-nav>.active>a:active, a.navbar-brand.moolah.active:active, a.navbar-brand.moolah:active  {
      background-color: #f2f2f2;
    }

    /*darker color on hover */
    .navbar-default .navbar-nav>li>a:hover, a.navbar-brand.moolah.active:hover, a.navbar-brand.moolah:hover  {
      background-color: #e7e7e7;
    }

  </style>
<% end %>


<% if user_signed_in? %>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <% if current_page?(home_url) || current_page?(root_url) %>
        <a href="/home" class="navbar-brand moolah active" >Moolah</a>
      <% else %>
        <a href="/home" class="navbar-brand moolah" >Moolah</a>
      <% end %>

    </div>

    <div class="container">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

          <li class="<%= 'active' if current_page?(my_cart_url) %>"><a href="/my_cart" class="pull-right">My Cart <div class="cart_count pull-right"><%= render "selected_items/items_in_cart_count" %></div></a></li>
          <li class="<%= 'active' if current_page?(my_items_url) %>"><a href="/my_items">My Items</a></li>
          <li class="<%= 'active' if current_page?(my_clubs_url) %>"><a href="/my_clubs">My Clubs</a></li>

      </ul>

      <ul class="nav navbar-nav navbar-right">
          <li class="<%= 'active' if current_page?(edit_user_registration_url) %>"><a href="/users/edit" class="pull-right"><%= current_user.first_name %></a></li>
          <li class="<%= 'active' if current_page?(destroy_user_session_url) %>"><a href="/users/sign_out" data-method="delete">Sign out</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
    </div>
  </nav>


<% else %>

  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#homepage" class="navbar-brand moolah" >Moolah</a>
    </div>

    <div class="container">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#how_it_works">How It Works</a></li>
        <li><a href="#">Colleges with Moolah</a></li>
        <li><a href="#about_us">About</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">

          <li><a href="/users/sign_up">Sign up</a></li>
          <li><a href="/users/sign_in">Sign in</a></li>

      </ul>
    </div><!-- /.navbar-collapse -->
    </div>
  </nav>


<% end %>

